
@font-face {
    font-family: "pokemon";
    src: url('../assets/Pokemon\ Solid.ttf');
}
@font-face {
    font-family: "pokemon-outline";
    src: url('../assets/Pokemon\ Hollow.ttf');
}

body {
    --color1: #CC0000;
    --color2: #FFDE00;
    --color3: #3B4CCA;
    --color4: #ffffff;
    --color5: #ffffff;
    
    --header-height: 100px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    
    background-image: url('../assets/pokemon-bckgrd.png');
}

img {
    margin-top: 20px;
}

.play-again {
    background-color: var(--color3);
    color: #FFDE00;
    border-radius: 5px;
    border-color: ;
    width: 100px;
    height: 45px;
    font-family: pokemon;
    margin-top: 20px;
}

table {
    border: none;
    text-align: center;
}

th {
    border: 1px solid var(--color3);
    padding: 5px;
}

td {
    border: 1px solid var(--color1);
    padding: 5px;
    text-align: center;
}

.results-table {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 20px;
}

/* label {
        font-size: 1.8rem;
        font-weight: bold;
        color: black;
        
} */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    
}

section {
    /* background-color: rgba(59, 76, 202, .90); */
    background-color: var(--color4);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }