
@font-face {
    font-family: "pokemon";
    src: url('../assets/Pokemon\ Solid.ttf');
}
@font-face {
    font-family: "pokemon-outline";
    src: url('../assets/Pokemon\ Hollow.ttf');
}

body {
    --color1: #CC0000;
    --color2: #FFDE00;
    --color3: #3B4CCA;
    --color4: #ffffff;
    --color5: #ffffff;
    
    --header-height: 100px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    /* background-image: url('../assets/Pokemon_pc_wallpaper_2.png'); */
    background-image: url('../assets/pokemon-bckgrd.png');
}

.hidden {
    display: none;
}

label > img {
    width: 175px;
    height: 175px;
    margin: 30px;
}

label > input {
    display: none;
}

:checked + img {
    border: solid 5px #CC0000;
    border-radius: 180px;
    /* background-image: url('../assets/Poke_Ball.png'); */
}

button {
    background-color: var(--color3);
    color: #FFDE00;
    border-radius: 5px;
    border-color: ;
    width: 100px;
    height: 40px;
    font-family: pokemon-outline;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

.main-img {
    margin-top: 20px;
}
section {
    background-color: rgba(255, 255, 255, 0.80);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color2);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color2);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
    margin-top: 15px;
}

header img {
    height: 70px;
}

content {
    width: 80%;
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color2);
    box-shadow: var(--shadow);
}